*
{
    margin: 0;
    padding: 0;
}

header
{ 
      background-image: url(moon1.jpg);
      height: 150vh;
      background-size: cover;
      background-position: center;
      background-color: grey;
}

.nav-bar
{
    background: rgb(0, 0, 0, 0.5)
    height: 80px;
    
}

.moon1{
    margin: 10px 50px;
    height: 60px;
    
}

.menu{
    float: right;
    list-style: none;
    margin: 20px;
    
}

.menu li a{
    display: inline-block;
    margin: 10px 5px;
}

.menu li a{
      text-decoration: none;
      color: #fff;
      padding: 5px 10px;
      font-family: sans-serif;
      letter-spacing: 2px;
      border: 1px solid #fff;

}

.menu li a:hover{
    background: #fff;
    transition: .4s;
    color: #000;
   
}
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
   
